@charset "UTF-8";

@import url(https://fonts.googleapis.com/css?family=Roboto:regular,500&display=swap&subset=cyrillic-ext);

@font-face {
  font-family: "RobotoMedium";
  font-display: swap;
  src: url("../fonts/RobotoMedium.woff") format("woff"), url("../fonts/RobotoMedium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "RobotoMedium";
  font-display: swap;
  src: url("../fonts/RobotoRegular.woff") format("woff"), url("../fonts/RobotoRegular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

/* Указываем box sizing */

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Убираем внутренние отступы */

ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и ol, у которых есть атрибут class*/

ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */

a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

a[class] {
  text-decoration: none;
}

/* Упрощаем работу с изображениями */

img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/

article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */

input,
button,
textarea,
select {
  font: inherit;
}

.btn-reset {
  border: none;
  padding: 0;
  background: transparent;
  cursor: pointer;
}

.input-reset {
  border: none;
  padding: 0;
  background: transparent;
}

input:focus,
textarea:focus {
  outline: none;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */

/*@media (prefers-reduced-motion: reduce) {
	* {
		animation-duration: 0.01ms !important;
		animation-iteration-count: 1 !important;
		transition-duration: 0.01ms !important;
		scroll-behavior: auto !important;
	}
}
*/

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
  font-size: 32px;
  line-height: 37px;
  color: #000000;
}

body {
  overflow-x: hidden;
  font-family: "Roboto";
  font-weight: 400;
  color: #000;
  font-size: 14px;
}

body._look {
  overflow: hidden;
}

.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

.container {
  max-width: 1080px;
  padding: 0 15px;
  margin: 0 auto;
}

.btn {
  color: #fff;
  background: #34547a;
  padding: 20px 40px;
  text-transform: uppercase;
  letter-spacing: 0.15em;
}

.toggle-sidebar {
  display: none;
  position: fixed;
  z-index: 9;
  right: 25px;
  top: 7px;
  width: 45px !important;
  height: 45px !important;
  background-color: #474747;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu-icon-wrapper {
  width: 30px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
  border: none;
  background-color: transparent;
}

.menu-icon {
  position: relative;
  width: 30px;
  height: 5px;
  background-color: #fff;
}

.menu-icon::before {
  position: absolute;
  left: 0;
  top: -10px;
  content: '';
  width: 30px;
  height: 5px;
  background-color: #fff;
  -webkit-transition: top 0.2s linear 0.2s, -webkit-transform 0.2s ease-in;
  transition: top 0.2s linear 0.2s, -webkit-transform 0.2s ease-in;
  -o-transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
  transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
  transition: transform 0.2s ease-in, top 0.2s linear 0.2s, -webkit-transform 0.2s ease-in;
}

.menu-icon::after {
  position: absolute;
  left: 0;
  top: 10px;
  content: ' ';
  width: 30px;
  height: 5px;
  background-color: #fff;
  -webkit-transition: top 0.2s linear 0.2s, -webkit-transform 0.2s ease-in;
  transition: top 0.2s linear 0.2s, -webkit-transform 0.2s ease-in;
  -o-transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
  transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
  transition: transform 0.2s ease-in, top 0.2s linear 0.2s, -webkit-transform 0.2s ease-in;
}

.menu-icon.menu-icon-active {
  background-color: transparent;
}

.menu-icon.menu-icon-active::before,
.menu-icon.menu-icon-active::after {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 0;
  -webkit-transition: top 0.2s linear, -webkit-transform 0.2s ease-in 0.2s;
  transition: top 0.2s linear, -webkit-transform 0.2s ease-in 0.2s;
  -o-transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
  transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
  transition: top 0.2s linear, transform 0.2s ease-in 0.2s, -webkit-transform 0.2s ease-in 0.2s;
}

.menu-icon.menu-icon-active::after {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.card__link-hidden {
  display: none !important;
}

.header {
  padding-top: 20px;
  background-color: #eeeff1;
  background-size: 100%;
}

.header__container {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .logo {
  grid-column: 5 span;
}

.nav {
  grid-column: 7 span;
  justify-self: end;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__list__items-link {
  color: #000;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 500;
  -webkit-transition: color 0.2s ease-in-out;
  -o-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
  white-space: nowrap;
}

.nav__list__items-link:hover {
  color: #34547a;
}

.nav__list__items:not(:last-child) {
  margin-right: 40px;
}

.banner {
  padding: 140px 0;
  grid-gap: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.banner__img {
  grid-column: 5 span;
  justify-self: end;
  margin-top: 20px;
}

.banner__img picture {
  background-size: cover;
}

.banner__descrip {
  grid-column: 7 span;
  justify-self: end;
  width: 540px;
}

.banner__descrip-title {
  font-weight: 500;
  font-size: 48px;
  line-height: 79px;
  margin-bottom: 50px;
}

.banner__descrip-text {
  font-size: 16px;
  line-height: 26px;
  color: #727272;
  margin-bottom: 60px;
}

.main {
  background-color: #fff;
}

.about {
  padding: 110px 0 100px;
  grid-column: 12 span;
  text-align: center;
}

.about__container {
  grid-column: 12 span;
}

.about__title {
  margin-bottom: 30px;
}

.about__text {
  font-size: 16px;
  line-height: 26px;
  color: #727272;
}

.work {
  background-color: #34547a;
}

.work__completed {
  padding: 100px 0;
}

.work__completed-block {
  grid-column: 2 span;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.work__completed-block svg {
  background-size: cover;
}

.work__completed-block div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 20px;
  color: #fff;
}

.work__completed-block div .count {
  font-weight: 500;
  font-size: 21px;
  line-height: 25px;
}

.work__completed-block div span {
  font-size: 16px;
  line-height: 26px;
}

.skills {
  padding: 100px 0;
}

.skills__block__my {
  grid-column: 6 span;
  align-self: center;
}

.skills__block__my-title {
  margin-bottom: 30px;
}

.skills__block .skills__progress-item p {
  font-size: 16px;
  line-height: 26px;
  color: #727272;
}

.skills__block .skills__progress-item .progress progress[value='0'] ~ .progress-bg .progress-bar {
  width: 0%;
}

.skills__block .skills__progress-item .progress progress[value='1'] ~ .progress-bg .progress-bar {
  width: 1%;
}

.skills__block .skills__progress-item .progress progress[value='2'] ~ .progress-bg .progress-bar {
  width: 2%;
}

.skills__block .skills__progress-item .progress progress[value='3'] ~ .progress-bg .progress-bar {
  width: 3%;
}

.skills__block .skills__progress-item .progress progress[value='4'] ~ .progress-bg .progress-bar {
  width: 4%;
}

.skills__block .skills__progress-item .progress progress[value='5'] ~ .progress-bg .progress-bar {
  width: 5%;
}

.skills__block .skills__progress-item .progress progress[value='6'] ~ .progress-bg .progress-bar {
  width: 6%;
}

.skills__block .skills__progress-item .progress progress[value='7'] ~ .progress-bg .progress-bar {
  width: 7%;
}

.skills__block .skills__progress-item .progress progress[value='8'] ~ .progress-bg .progress-bar {
  width: 8%;
}

.skills__block .skills__progress-item .progress progress[value='9'] ~ .progress-bg .progress-bar {
  width: 9%;
}

.skills__block .skills__progress-item .progress progress[value='10'] ~ .progress-bg .progress-bar {
  width: 10%;
}

.skills__block .skills__progress-item .progress progress[value='11'] ~ .progress-bg .progress-bar {
  width: 11%;
}

.skills__block .skills__progress-item .progress progress[value='12'] ~ .progress-bg .progress-bar {
  width: 12%;
}

.skills__block .skills__progress-item .progress progress[value='13'] ~ .progress-bg .progress-bar {
  width: 13%;
}

.skills__block .skills__progress-item .progress progress[value='14'] ~ .progress-bg .progress-bar {
  width: 14%;
}

.skills__block .skills__progress-item .progress progress[value='15'] ~ .progress-bg .progress-bar {
  width: 15%;
}

.skills__block .skills__progress-item .progress progress[value='16'] ~ .progress-bg .progress-bar {
  width: 16%;
}

.skills__block .skills__progress-item .progress progress[value='17'] ~ .progress-bg .progress-bar {
  width: 17%;
}

.skills__block .skills__progress-item .progress progress[value='18'] ~ .progress-bg .progress-bar {
  width: 18%;
}

.skills__block .skills__progress-item .progress progress[value='19'] ~ .progress-bg .progress-bar {
  width: 19%;
}

.skills__block .skills__progress-item .progress progress[value='20'] ~ .progress-bg .progress-bar {
  width: 20%;
}

.skills__block .skills__progress-item .progress progress[value='21'] ~ .progress-bg .progress-bar {
  width: 21%;
}

.skills__block .skills__progress-item .progress progress[value='22'] ~ .progress-bg .progress-bar {
  width: 22%;
}

.skills__block .skills__progress-item .progress progress[value='23'] ~ .progress-bg .progress-bar {
  width: 23%;
}

.skills__block .skills__progress-item .progress progress[value='24'] ~ .progress-bg .progress-bar {
  width: 24%;
}

.skills__block .skills__progress-item .progress progress[value='25'] ~ .progress-bg .progress-bar {
  width: 25%;
}

.skills__block .skills__progress-item .progress progress[value='26'] ~ .progress-bg .progress-bar {
  width: 26%;
}

.skills__block .skills__progress-item .progress progress[value='27'] ~ .progress-bg .progress-bar {
  width: 27%;
}

.skills__block .skills__progress-item .progress progress[value='28'] ~ .progress-bg .progress-bar {
  width: 28%;
}

.skills__block .skills__progress-item .progress progress[value='29'] ~ .progress-bg .progress-bar {
  width: 29%;
}

.skills__block .skills__progress-item .progress progress[value='30'] ~ .progress-bg .progress-bar {
  width: 30%;
}

.skills__block .skills__progress-item .progress progress[value='31'] ~ .progress-bg .progress-bar {
  width: 31%;
}

.skills__block .skills__progress-item .progress progress[value='32'] ~ .progress-bg .progress-bar {
  width: 32%;
}

.skills__block .skills__progress-item .progress progress[value='33'] ~ .progress-bg .progress-bar {
  width: 33%;
}

.skills__block .skills__progress-item .progress progress[value='34'] ~ .progress-bg .progress-bar {
  width: 34%;
}

.skills__block .skills__progress-item .progress progress[value='35'] ~ .progress-bg .progress-bar {
  width: 35%;
}

.skills__block .skills__progress-item .progress progress[value='36'] ~ .progress-bg .progress-bar {
  width: 36%;
}

.skills__block .skills__progress-item .progress progress[value='37'] ~ .progress-bg .progress-bar {
  width: 37%;
}

.skills__block .skills__progress-item .progress progress[value='38'] ~ .progress-bg .progress-bar {
  width: 38%;
}

.skills__block .skills__progress-item .progress progress[value='39'] ~ .progress-bg .progress-bar {
  width: 39%;
}

.skills__block .skills__progress-item .progress progress[value='40'] ~ .progress-bg .progress-bar {
  width: 40%;
}

.skills__block .skills__progress-item .progress progress[value='41'] ~ .progress-bg .progress-bar {
  width: 41%;
}

.skills__block .skills__progress-item .progress progress[value='42'] ~ .progress-bg .progress-bar {
  width: 42%;
}

.skills__block .skills__progress-item .progress progress[value='43'] ~ .progress-bg .progress-bar {
  width: 43%;
}

.skills__block .skills__progress-item .progress progress[value='44'] ~ .progress-bg .progress-bar {
  width: 44%;
}

.skills__block .skills__progress-item .progress progress[value='45'] ~ .progress-bg .progress-bar {
  width: 45%;
}

.skills__block .skills__progress-item .progress progress[value='46'] ~ .progress-bg .progress-bar {
  width: 46%;
}

.skills__block .skills__progress-item .progress progress[value='47'] ~ .progress-bg .progress-bar {
  width: 47%;
}

.skills__block .skills__progress-item .progress progress[value='48'] ~ .progress-bg .progress-bar {
  width: 48%;
}

.skills__block .skills__progress-item .progress progress[value='49'] ~ .progress-bg .progress-bar {
  width: 49%;
}

.skills__block .skills__progress-item .progress progress[value='50'] ~ .progress-bg .progress-bar {
  width: 50%;
}

.skills__block .skills__progress-item .progress progress[value='51'] ~ .progress-bg .progress-bar {
  width: 51%;
}

.skills__block .skills__progress-item .progress progress[value='52'] ~ .progress-bg .progress-bar {
  width: 52%;
}

.skills__block .skills__progress-item .progress progress[value='53'] ~ .progress-bg .progress-bar {
  width: 53%;
}

.skills__block .skills__progress-item .progress progress[value='54'] ~ .progress-bg .progress-bar {
  width: 54%;
}

.skills__block .skills__progress-item .progress progress[value='55'] ~ .progress-bg .progress-bar {
  width: 55%;
}

.skills__block .skills__progress-item .progress progress[value='56'] ~ .progress-bg .progress-bar {
  width: 56%;
}

.skills__block .skills__progress-item .progress progress[value='57'] ~ .progress-bg .progress-bar {
  width: 57%;
}

.skills__block .skills__progress-item .progress progress[value='58'] ~ .progress-bg .progress-bar {
  width: 58%;
}

.skills__block .skills__progress-item .progress progress[value='59'] ~ .progress-bg .progress-bar {
  width: 59%;
}

.skills__block .skills__progress-item .progress progress[value='60'] ~ .progress-bg .progress-bar {
  width: 60%;
}

.skills__block .skills__progress-item .progress progress[value='61'] ~ .progress-bg .progress-bar {
  width: 61%;
}

.skills__block .skills__progress-item .progress progress[value='62'] ~ .progress-bg .progress-bar {
  width: 62%;
}

.skills__block .skills__progress-item .progress progress[value='63'] ~ .progress-bg .progress-bar {
  width: 63%;
}

.skills__block .skills__progress-item .progress progress[value='64'] ~ .progress-bg .progress-bar {
  width: 64%;
}

.skills__block .skills__progress-item .progress progress[value='65'] ~ .progress-bg .progress-bar {
  width: 65%;
}

.skills__block .skills__progress-item .progress progress[value='66'] ~ .progress-bg .progress-bar {
  width: 66%;
}

.skills__block .skills__progress-item .progress progress[value='67'] ~ .progress-bg .progress-bar {
  width: 67%;
}

.skills__block .skills__progress-item .progress progress[value='68'] ~ .progress-bg .progress-bar {
  width: 68%;
}

.skills__block .skills__progress-item .progress progress[value='69'] ~ .progress-bg .progress-bar {
  width: 69%;
}

.skills__block .skills__progress-item .progress progress[value='70'] ~ .progress-bg .progress-bar {
  width: 70%;
}

.skills__block .skills__progress-item .progress progress[value='71'] ~ .progress-bg .progress-bar {
  width: 71%;
}

.skills__block .skills__progress-item .progress progress[value='72'] ~ .progress-bg .progress-bar {
  width: 72%;
}

.skills__block .skills__progress-item .progress progress[value='73'] ~ .progress-bg .progress-bar {
  width: 73%;
}

.skills__block .skills__progress-item .progress progress[value='74'] ~ .progress-bg .progress-bar {
  width: 74%;
}

.skills__block .skills__progress-item .progress progress[value='75'] ~ .progress-bg .progress-bar {
  width: 75%;
}

.skills__block .skills__progress-item .progress progress[value='76'] ~ .progress-bg .progress-bar {
  width: 76%;
}

.skills__block .skills__progress-item .progress progress[value='77'] ~ .progress-bg .progress-bar {
  width: 77%;
}

.skills__block .skills__progress-item .progress progress[value='78'] ~ .progress-bg .progress-bar {
  width: 78%;
}

.skills__block .skills__progress-item .progress progress[value='79'] ~ .progress-bg .progress-bar {
  width: 79%;
}

.skills__block .skills__progress-item .progress progress[value='80'] ~ .progress-bg .progress-bar {
  width: 80%;
}

.skills__block .skills__progress-item .progress progress[value='81'] ~ .progress-bg .progress-bar {
  width: 81%;
}

.skills__block .skills__progress-item .progress progress[value='82'] ~ .progress-bg .progress-bar {
  width: 82%;
}

.skills__block .skills__progress-item .progress progress[value='83'] ~ .progress-bg .progress-bar {
  width: 83%;
}

.skills__block .skills__progress-item .progress progress[value='84'] ~ .progress-bg .progress-bar {
  width: 84%;
}

.skills__block .skills__progress-item .progress progress[value='85'] ~ .progress-bg .progress-bar {
  width: 85%;
}

.skills__block .skills__progress-item .progress progress[value='86'] ~ .progress-bg .progress-bar {
  width: 86%;
}

.skills__block .skills__progress-item .progress progress[value='87'] ~ .progress-bg .progress-bar {
  width: 87%;
}

.skills__block .skills__progress-item .progress progress[value='88'] ~ .progress-bg .progress-bar {
  width: 88%;
}

.skills__block .skills__progress-item .progress progress[value='89'] ~ .progress-bg .progress-bar {
  width: 89%;
}

.skills__block .skills__progress-item .progress progress[value='90'] ~ .progress-bg .progress-bar {
  width: 90%;
}

.skills__block .skills__progress-item .progress progress[value='91'] ~ .progress-bg .progress-bar {
  width: 91%;
}

.skills__block .skills__progress-item .progress progress[value='92'] ~ .progress-bg .progress-bar {
  width: 92%;
}

.skills__block .skills__progress-item .progress progress[value='93'] ~ .progress-bg .progress-bar {
  width: 93%;
}

.skills__block .skills__progress-item .progress progress[value='94'] ~ .progress-bg .progress-bar {
  width: 94%;
}

.skills__block .skills__progress-item .progress progress[value='95'] ~ .progress-bg .progress-bar {
  width: 95%;
}

.skills__block .skills__progress-item .progress progress[value='96'] ~ .progress-bg .progress-bar {
  width: 96%;
}

.skills__block .skills__progress-item .progress progress[value='97'] ~ .progress-bg .progress-bar {
  width: 97%;
}

.skills__block .skills__progress-item .progress progress[value='98'] ~ .progress-bg .progress-bar {
  width: 98%;
}

.skills__block .skills__progress-item .progress progress[value='99'] ~ .progress-bg .progress-bar {
  width: 99%;
}

.skills__block .skills__progress-item .progress progress[value='100'] ~ .progress-bg .progress-bar {
  width: 100%;
}

.skills__block .skills__progress-item .progress {
  position: relative;
  overflow: hidden;
  margin: 20px 0;
  width: 445px;
}

.skills__block .skills__progress-item .progress progress {
  position: absolute;
  width: 0;
  height: 0;
  overflow: hidden;
  left: -777px;
}

.skills__block .skills__progress-item .progress .progress-bg {
  background: #c4c4c4;
  position: relative;
  height: 5px;
  overflow: hidden;
}

.skills__block .skills__progress-item .progress .progress-bar {
  overflow: hidden;
  background: #34547a;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  -webkit-transition: width 1s linear;
  -o-transition: width 1s linear;
  transition: width 1s linear;
}

.skills__block-photo {
  grid-column: 6 span;
}

.skills__block-photo img {
  background-size: cover;
  width: 555px;
  height: 450px;
}

.video {
  padding: 100px 0;
  background-color: #eeeff1;
}

.video__container-block {
  width: 515px;
  margin: 0 auto;
  text-align: center;
}

.video__container-block .block__title {
  margin-bottom: 50px;
}

.video__container-block .block__descr {
  font-size: 16px;
  line-height: 26px;
  color: #727272;
}

.video__container .my_video video {
  grid-column: 12 span;
  width: 100%;
  height: 600px;
  margin-top: 60px;
}

.project__container__block-item {
  grid-column: 4 span;
  position: relative;
  cursor: pointer;
}

.project__container__block-item img {
  background-size: cover;
  width: 100%;
}

.project__container__block-item .view {
  display: none;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(52, 84, 122, 0.8)), to(rgba(52, 84, 122, 0.8)));
  background: -o-linear-gradient(bottom, rgba(52, 84, 122, 0.8), rgba(52, 84, 122, 0.8));
  background: linear-gradient(0deg, rgba(52, 84, 122, 0.8), rgba(52, 84, 122, 0.8));
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.project__container__block-item .view svg {
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.project__container__block-item:hover .view {
  display: block;
}

.clients {
  padding: 70px 0 100px;
}

.clients__container__block {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.forms {
  background-color: #eeeff1;
  padding: 100px 0;
}

.forms__container {
  grid-template-rows: repeat(1, 1fr);
}

.forms__container__block {
  text-align: center;
  grid-column: 12 span;
  margin-bottom: 60px;
  padding: 0 18%;
}

.forms__container__block-title {
  margin-bottom: 35px;
}

.forms__container__block-text {
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: #727272;
}

.forms__container .form {
  grid-column: 12 span;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  justify-self: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.forms__container .form_association {
  margin-bottom: 20px;
}

.forms__container .form_association .inp-text {
  margin-right: 30px;
}

.forms__container .form_association .inp-text,
.forms__container .form_association .inp-mail {
  width: 255px;
  padding: 12px 15px;
  border-radius: 10px;
  font-size: 14px;
  line-height: 23px;
  color: #5f5d5d;
  background-color: #ffff !important;
}

.forms__container .form textarea {
  width: 540px;
  height: 175px;
  padding: 12px 15px;
  font-size: 14px;
  line-height: 23px;
  border-radius: 10px;
  color: #5f5d5d;
  background-color: #ffff !important;
  resize: none;
}

.forms__container .form .btn-form {
  margin-top: 50px;
}

.footer {
  background-color: #34547a;
}

.footer__container {
  padding: 50px 0;
}

.footer__container__block {
  grid-column: 3 span;
}

.footer__container__block-user {
  font-size: 21px;
  line-height: 25px;
  color: #ffffff;
  white-space: nowrap;
}

.footer__container__block-copy {
  margin-top: 10px;
  font-size: 13px;
  line-height: 21px;
  color: #ffffff;
  white-space: nowrap;
}

.footer__container__social {
  grid-column: 9 span;
  grid-gap: 20px;
  align-self: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media only screen and (max-width: 992px) {
  .header__container {
    padding: 0 20px;
  }

  .banner {
    grid-template-columns: auto;
  }

  .banner__img,
  .banner__descrip {
    justify-self: center;
    grid-column: initial;
    text-align: center;
  }

  .about__container {
    padding: 0 20px;
  }

  .work__completed {
    padding: 50px 20px;
  }

  .work__completed-block {
    grid-column: 4 span;
    justify-self: center;
    width: auto;
    margin-bottom: 20px;
  }

  .work__completed-block:not(:first-child) {
    margin-right: 0;
  }

  .work__completed-block:nth-last-child(-n + 3) {
    margin-bottom: 0;
  }

  .skills__block__my,
  .skills__block-photo {
    grid-column: 12 span;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .skills__block-photo {
    margin-top: 30px;
  }

  .skills__block-photo img {
    width: 100%;
    height: 100%;
  }

  .project__container__block-item {
    grid-column: 6 span;
  }

  .project__container__block-item img {
    width: 100%;
    height: 100%;
  }

  .footer__container {
    padding: 20px 20px;
  }
}

@media only screen and (max-width: 768px) {
  .toggle-sidebar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left: 0 !important;
    position: fixed;
    z-index: 120;
    top: 0;
    left: 0;
    bottom: 0;
    background: #fff;
    padding: 20px;
    overflow-y: scroll;
    -webkit-transform: translateX(-150%);
        -ms-transform: translateX(-150%);
            transform: translateX(-150%);
    -webkit-transition: -webkit-transform 0.5s ease-in;
    transition: -webkit-transform 0.5s ease-in;
    -o-transition: transform 0.5s ease-in;
    transition: transform 0.5s ease-in;
    transition: transform 0.5s ease-in, -webkit-transform 0.5s ease-in;
  }

  .nav__list {
    display: block;
  }

  .nav__list__items {
    font-size: 26px;
  }

  .sidebar--mobile-active {
    -webkit-transform: translateX(0%);
        -ms-transform: translateX(0%);
            transform: translateX(0%);
  }

  .banner {
    padding: 70px 0;
  }

  .banner__descrip {
    padding: 0 20px;
  }

  .about {
    padding: 55px 0;
  }

  .video {
    padding: 50px 0;
    background-color: #eeeff1;
  }

  .video__container-block {
    max-width: 100%;
    padding: 0 25px;
  }

  .video__container-block .block__title {
    margin-bottom: 25px;
  }

  .video__container .my_video video {
    width: 100%;
    height: 100%;
    margin-top: 30px;
  }

  .clients {
    padding: 35px 0 50px;
  }

  .clients__container__block {
    grid-template-columns: 1fr 1fr;
    -webkit-column-gap: 15px;
       -moz-column-gap: 15px;
            column-gap: 15px;
  }

  .forms {
    padding: 50px 0;
  }

  .forms__container__block {
    margin-bottom: 30px;
    width: 100%;
    padding: 0;
  }

  .forms__container__block-title {
    margin-bottom: 35px;
  }

  .forms__container__block-text {
    font-size: 16px;
    line-height: 26px;
    color: #727272;
  }

  .forms__container .form_association {
    margin-bottom: 10px;
  }

  .forms__container .form_association .inp-text,
  .forms__container .form_association .inp-mail {
    width: 100%;
    padding: 10px;
    margin-bottom: 25px;
  }

  .forms__container .form textarea {
    width: 100%;
    height: 100px;
    padding: 10px;
  }

  .btn {
    padding: 10px 20px;
    font-size: 14px;
  }
}

@media only screen and (max-width: 480px) {
  .banner__img,
  .banner__descrip,
  .about {
    width: auto;
  }

  .banner__descrip-title {
    font-size: 32px;
    line-height: 37px;
  }

  .work__completed-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }

  .work__completed-block div {
    margin: 15px 0 0 0;
  }

  .skills__block__my-title {
    margin-bottom: 30px;
  }

  .skills__block__my .skills__progress-item p {
    font-size: 16px;
    line-height: 26px;
    color: #727272;
  }

  .skills__block__my .skills__progress-item .progress {
    width: 245px;
  }

  .skills__block-photo img {
    width: 100%;
    height: 100%;
  }

  .project__container__block-item {
    grid-column: 12 span;
  }

  .project__container__block-item img {
    width: 100%;
    height: 100%;
  }

  .footer__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .footer__container__block {
    text-align: center;
    margin-bottom: 20px;
  }
}