.footer {
	background-color: #34547a;
	&__container {
		padding: 50px 0;
		&__block {
			grid-column: 3 span;
			&-user {
				font-size: 21px;
				line-height: 25px;
				color: #ffffff;
				white-space: nowrap;
			}
			&-copy {
				margin-top: 10px;
				font-size: 13px;
				line-height: 21px;
				color: #ffffff;
				white-space: nowrap;
			}
		}
		&__social {
			grid-column: 9 span;
			grid-gap: 20px;
			align-self: center;
			justify-content: flex-end;
			display: flex;
		}
	}
}
