doctype html
html(lang="en")
	include pages/head.pug
	body
		include pages/common/burger.pug
		include pages/header.pug
		include pages/main.pug
		include pages/footer.pug
		script(src="js/script.js")
