.banner.container.grid
	.banner__img
		img(src="img/banner_img.png", alt="")
	section.banner__descrip
		h1.banner__descrip-title Дизайн и верстка
		p.banner__descrip-text Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века.
		button.btn.btn-reset Написать мне