.clients
	.clients__container.container
		ul.clients__container__block
			- for (var x = 0; x < 4; x++)
				li.clients__container__block-item
					a(href="#") 
						img(src="img/clients.jpg", alt="")

