.prioject
	.project__container.container
		.project__container__block.grid
			- for (var x = 0; x < 3; x++)
				.project__container__block-item
					img(src="img/project1.jpg", alt="")
					.view
						include ../../../img/svg/view.svg
				.project__container__block-item
					img(src="img/project2.jpg", alt="")
					.view
						include ../../../img/svg/view.svg
				




