.video 
	.video__container.container
		section.video__container-block
			h3.block__title Как я работаю
			p.block__descr Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века.
		.my_video.grid
			video(src="video/videoplayback.mp4" controls)
